<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Nuevo equipo')"></head>

<body>

<div th:replace="fragments :: barra-menu"></div>

<div class="container-fluid">

    <h2>Nuevo equipo</h2>

    <form method="post" th:action="@{/equipos/nuevo}" th:object="${equipoData}">
        <div class="col-6">
        <div class="form-group">
            <label for="nombre">Nombre del equipo:</label>
            <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
            <br>
            <div style="padding-left: 20px">
                <input id=addUsuario class="form-check-input" name="admin"
                       type="checkbox" th:field="*{addUsuario}"/>
                <label for="addUsuario">Añadirme a este equipo</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Crear equipo</button>
        <a class="btn btn-link" th:href="@{/equipos}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>