<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Usuarios')"></head>

<body>

<div th:replace="fragments :: barra-menu"></div>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de usuarios registrados'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td>
                        <a class="btn btn-primary btn-xs" th:href="@{/usuarios/{id}(id=${usuario.id})}">Ver detalles</a>
                        <a class="btn btn-danger btn-xs" th:text="${usuario.bloqueado} ? 'Desbloquear' : 'Bloquear'"
                           th:href="@{/usuarios/{id}/bloquear(id=${usuario.id})}">Bloquear</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

</body>
</html>